# Normalize all text files to LF on checkout
* text=auto eol=lf

# Explicitly declare text files
*.astro text eol=lf
*.ts text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.svg binary
